.infotooltip{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.5);
}

.infotooltip__opened{
    display: flex;
}

.infotooltip__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 430px;
    height: 330px;
    background-color: #fff;
    border-radius: 10px;
}

.infotooltip__close{
    align-self: center;
    background: rgba(0, 0, 0);
    border: 0;
    cursor: pointer;
    max-width: 40px;
    max-height: 40px;
    margin-left: 460px;
}

.infotooltip__icon{
    width: 120px;
    height: 120px;
}

.infotooltip__title{
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
    width: 358px;
    height: 58px;
    margin-top: 32px;
}